<!doctype html>
<html>
{% include head.html %}

<body>
  <!-- {% include header.html %} -->
  <div class="content-wrapper">
    <iframe style="border: 0; width: 636px; height: 1039px;"
      src="https://bandcamp.com/EmbeddedPlayer/album=898200008/size=large/bgcol=333333/linkcol=e99708/transparent=true/"
      seamless><a href="https://polygrim.bandcamp.com/album/brimming">Brimming by Polygrim</a></iframe>

      {% include youtube-player.html id=6ppRQ9KQ9Kw %}

    {% include menu-vertical.html %}
  </div>

  {% include footer.html %}
</body>

</html>
