<!doctype html>
<html>
{% include head.html %}

<body>
  {% include header-landing.html %}

  <div class="content-wrapper">
    <div style="display: flex; align-items: center; justify-content: center; margin: 0 0 20px 0;">
      <iframe style="border: 0; width: 700px; height: 1110px;"
        src="https://bandcamp.com/EmbeddedPlayer/album=898200008/size=large/bgcol=333333/linkcol=e99708/transparent=true/"
        seamless><a href="https://polygrim.bandcamp.com/album/brimming">Brimming by Polygrim</a></iframe>
    </div>

    <div style="display: flex; align-items: center; justify-content: center;">
      <iframe width="700" height="400" src="https://www.youtube.com/embed/6ppRQ9KQ9Kw" title="YouTube video player"
        frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen></iframe>
    </div>

    {% include menu-vertical.html %}
  </div>

  {% include footer.html %}
</body>

</html>
